@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 1s forwards;
}

@keyframes marquee-fast {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee-fast {
  display: inline-block;
  animation: marquee-fast 10s linear infinite;
}

.page-load {
  opacity: 0;
  animation: fadeInPage 1.5s ease-out forwards;
}

@keyframes fadeInPage {
  to {
    opacity: 1;
  }
}